.banner{
    background-image: url('./Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.font_1{
    font-family: "Raleway", sans-serif;
}

.font_2{
 
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
     
      
}
.bg{
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}
.bg2{
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}

.bgColor:hover{
    background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
}

.font_bold{
  
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
   
      
}